h1
    {
    background-color:#6495ed;
    padding-bottom:20px;
    margin:0px;
    }
 div
 {
 background:#b0c4de;
 margin:0px;
 padding-bottom:20px;
 }

 p
 {
 background-color:#CCFFFF;
 padding-bottom:20px;
 }
 body
    {
    background-color:#CCFFFF;
    }