body
{
background-color:Brown;
color:orange;
font-size:20px;
}
h1,h2
{
background-color:Violet;
color:blue;
}

h1
{


font-size:40px;
}
h2
{

font-size:25px;

}
h3
{
background-color:Violet;
display:inline-block;
color:blue;
font-size:25px;
}
div
{
display:inline-block;
color:Orange;
}
a {
color:green;
}
a:visited
{
color:red;
}
a:hover
{
color:yellow;
}
footer
{
display:inline-block;
}